In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
import xgboost as xgb
from pathlib import Path

In [4]:
PROC = Path("../data/processed/AAPL_clean.csv")
df = pd.read_csv(PROC, parse_dates=["Date"], index_col="Date")

In [5]:
df

,Close,High,Low,Open,Volume,Daily_Return,Log_Return,SMA_20,SMA_50,Volatility_10,DayOfWeek
Date,,,,,,,,,,,
2015-11-27,26.588238,26.723652,26.540844,26.696568,52185600,-0.001864,-0.001866,26.658001,25.909976,0.017002,4
2015-11-30,26.698833,26.949347,26.574705,26.628869,156721200,0.004160,0.004151,26.650208,25.934051,0.013022,0
2015-12-01,26.482174,26.813935,26.373845,26.800394,139409600,-0.008115,-0.008148,26.612704,25.945881,0.013002,1
2015-12-02,26.242939,26.655947,26.197802,26.482167,133546400,-0.009034,-0.009075,26.547620,25.961063,0.013371,2
2015-12-03,25.999199,26.358043,25.778026,26.303878,166278000,-0.009288,-0.009331,26.476754,25.967234,0.008920,3
...,...,...,...,...,...,...,...,...,...,...,...
2025-09-11,230.029999,230.449997,226.649994,226.880005,50208600,0.014286,0.014185,231.642999,220.563703,0.018844,3
2025-09-12,234.070007,234.509995,229.020004,229.220001,55824200,0.017563,0.017411,231.707500,221.001120,0.019485,4
2025-09-15,236.699997,238.190002,235.029999,237.000000,42699500,0.011236,0.011173,231.963000,221.468961,0.019725,0
2025-09-16,238.149994,241.220001,236.320007,237.179993,63421100,0.006126,0.006107,232.325999,222.037722,0.019243,1
2025-09-17,238.990005,240.100006,237.729996,238.970001,46435200,0.003527,0.003521,232.747500,222.622083,0.015041,2