In [3]:
import numpy as np
import pandas as pd
from pathlib import Path

In [ ]:
PROC = Path("../data/processed/AAPL_clean.csv")
df = pd.read_csv(PROC, parse_dates=["Date"])
df

,Date,Close,High,Low,Open,Volume,Daily_Return,Log_Return,SMA_20,SMA_50,Volatility_10,DayOfWeek
0,2024-11-13,224.323669,225.848256,221.972017,223.217595,48566200,0.003969,0.003961,227.710766,225.807701,0.011328,2
1,2024-11-14,227.412720,228.060414,224.204109,224.224042,44923900,0.013771,0.013677,227.527673,225.928958,0.010748,3
2,2024-11-15,224.204086,226.117293,223.476673,225.599128,47923700,-0.014109,-0.014210,227.042310,226.017099,0.010875,4
3,2024-11-18,227.213409,228.927326,224.373485,224.453204,44633700,0.013422,0.013333,226.633754,226.163634,0.011350,0
4,2024-11-19,227.472488,229.345843,225.858224,226.177084,36211800,0.001140,0.001140,226.269009,226.331277,0.011285,1
...,...,...,...,...,...,...,...,...,...,...,...,...
196,2025-08-28,232.559998,233.410004,229.339996,230.820007,38074700,0.008981,0.008941,224.200442,214.665730,0.009523,3
197,2025-08-29,232.139999,233.380005,231.369995,232.509995,39418400,-0.001806,-0.001808,225.699912,215.381387,0.009384,4
198,2025-09-02,229.720001,230.850006,226.970001,229.250000,44075600,-0.010425,-0.010479,227.029938,215.960344,0.009949,1
199,2025-09-03,238.470001,238.850006,234.360001,237.210007,66427800,0.038090,0.037382,228.818940,216.704312,0.015706,2
200,2025-09-04,239.779999,239.899994,236.740005,238.449997,47504000,0.005493,0.005478,230.157527,217.498454,0.013421,3

In [16]:
train = df.iloc[:int(0.8*len(df))]
test = df.iloc[int(0.8*len(df)):]

In [19]:
import sys
sys.path.append("../")
from src.models.baseline import NaiveBaselineModel

last, forecast, metrics = NaiveBaselineModel(train, test, save_dir="../data/models/naive_baseline")
print(metrics)

{'MAE': 11.411797500238192, 'RMSE': 14.776901659095044}

In [15]:
train['Close']

Date
2024-11-13    224.323669
2024-11-14    227.412720
2024-11-15    224.204086
2024-11-18    227.213409
2024-11-19    227.472488
                 ...
2025-07-01    207.584412
2025-07-02    212.199173
2025-07-03    213.307922
2025-07-07    209.711990
2025-07-08    209.771927
Name: Close, Length: 160, dtype: float64